*, *:before, *:after {
  box-sizing: border-box; }

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  width: 100%;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  margin: 0; }

.is-shown {
  opacity: 1;
  visibility: visible; }

.header {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 50px; }

.header-title {
  position: relative;
  display: block;
  text-align: center; }

.header-info {
  position: relative;
  display: block;
  width: 100%;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  text-align: justify; }
  @media screen and (min-width: 768px) {
    .header-info {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2; } }

.header-nav {
  position: fixed;
  left: 0;
  background: #0e0eff;
  padding: 0 50px;
  display: none;
  width: 100%;
  z-index: 999; }

.header-search-bar {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-box-pack: center;
  -webkit-box-align: center; }

.search-input {
  position: relative;
  display: block; }

.menu {
  position: relative;
  display: inline-block;
  float: left; }

.menu-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 5.25rem;
  float: left;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  list-style: none;
  padding: 0;
  -ms-flex-pack: center;
  -ms-flex-align: center; }

.menu-item {
  display: inline;
  padding: 0 20px; }

.menu-item-dropdown {
  opacity: 0;
  visibility: hidden;
  background: #fff200;
  display: block;
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in; }

.grid-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  margin: 0 auto;
  max-width: 240px; }
  @media screen and (min-width: 768px) {
    .grid-container {
      max-width: 720px; } }
  @media screen and (min-width: 1024px) {
    .grid-container {
      max-width: 960px; } }

.grid-panel {
  position: absolute;
  display: block;
  margin: 0;
  padding: 5px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid; }

.grid-item {
  position: relative;
  display: block;
  background: #00ffd4;
  width: 230px;
  height: 220px;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto; }

.grid-item--height1 {
  height: 360px; }

.grid-item--height2 {
  height: 300px; }

.grid-item--height2 {
  height: 150px; }
