.header {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 50px;
}

.header-title {
  position: relative;
  display: block;
  text-align: center;
}

.header-info {
  position: relative;
  display: block;
  width: 100%;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  text-align: justify;

  @media screen and (min-width: 768px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.header-stage {
  min-height: 12.5rem;
  padding-top: 7rem;
}

.header-nav {
  position: fixed;
  left: 0;
  background: #0e0eff;
  padding: 0 50px;
  display: flex;
  width: 100%;
  z-index: 999;
}

.header-search-bar {
  display: inline-block;
  position: relative;
  float: left;

  display: -webkit-inline-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.search-input {
  position: relative;
  display: block;
}
